<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ftp" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <ftp>
    <add key="ip" value="10.10.18.73"/>
    <add key="user" value="ftptest"/>
    <add key="pwd" value="123456"/>
    <add key="path" value="DocCamPics"/>
    <add key="localpath" value="C:\ProgramData\DocumentCamPics"/>
  </ftp>
  <appSettings>
    <!--0：液化气装车的远程AEECEE数据库；1：汽车装车的SQL数据库-->
    <add key="DiBangType" value="0"/>
    <!--地磅序号配置信息-->
    <add key="DiBangArrNum" value="1,2"/>
    <!--是否将单号作为判断条件；0：不作为判断条件；1：作为判断条件-->
    <add key="CheckDanHao" value="0"/>
    <!--地磅SQL链接示例：Data Source=localhost;User ID=toledo;Password=supconauto;Initial Catalog=toledo;-->
    <!--地磅ACCESS远程链接示例：Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\192.168.2.17\DataSource\toledo.mdb;Jet OLEDB:Database Password=MTCT_VHBU-->
    <!--地磅ACCESS就地链接示例：Provider=Microsoft.Jet.OLEDB.4.0;Data Source=toledo.mdb;Jet OLEDB:Database Password=MTCT_VHBU-->
    <add key="DiBangConn1" value="Data Source=localhost;User ID=toledo;Password=supconauto;Initial Catalog=toledo;"/>
    <add key="DiBangConn2" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=toledo.mdb;Jet OLEDB:Database Password=MTCT_VHBU;"/>

    <add key="DiBangTable" value="Trade"/>
    <add key="DiBangTruckno" value="truckno"/>
    <add key="DiBangFirstTime" value="firstdatetime"/>
    <add key="DiBangSecondTime" value="seconddatetime"/>
    <add key="DiBangFirstWeight" value="firstweight"/>
    <add key="DiBangSecondWeight" value="secondweight"/>
    <!--虚拟厂区地址码-->
    <add key="AddressCode" value="005"/>
    <!--流程控制开关-->
    <add key="ProcessControl" value="true"/>
    <!--取卡功能码-->
    <add key="TakeCardCode" value="002"/>
    <!--结算功能码-->
    <add key="SettleCode" value="011"/>
    <add key="WebServiceUrl" value="http://127.0.0.1:3721/WeightWCFService/Service/?wsdl"/>
    <!--取卡接口地址 http://127.0.0.1:3721/PrepareSelfService/Service/?wsdl -->
    <add key="TakeCardUrl" value="http://192.168.50.200:3721/PrepareSelfService/Service/?wsdl"/>
    <!--取卡接口地址 启动外部进程 -->
    <add key="ProcessStart" value="SQSCustom.exe"/>
    <!--订单批次类型：TicketBatch：订单批次拆分；TicketHouse：订单分舱；TicketSubQuality：订单拆分质检-->
    <add key="TicketBatchModel" value="TicketHouse" />
    <!--订单新建模式：AddFast：快速制单；AddReference：参照制单-->
    <add key="AddTicketModel" value="AddReference" />
    <!--车牌允许状态：0：不判断；1：厂内未完成，不允许重复进入-->
    <add key="LisenceAllowStatus" value="0" />
    <add key="PhotoServiceUrl" value="http://192.168.50.200:3721/CameraService/PhotoManager/?wsdl"/>
    <!--还卡附加检查接口地址-->
    <!--<add key="ExtraCheckReturn" value="http://127.0.0.1:3721/WeightWCFService/TerminalSelf/?wsdl"/>-->
    <add key="ExtraCheckReturn" value="http://192.168.1.200:3721/SQSToNCC/CreditInterface/?wsdl"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
